<!DOCTYPE html>
{% extends 'store/main.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>checkout</title>
</head>
<body>
{% block content %}
<div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
                <form id="form">
					<div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="name" placeholder="Name..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
					</div>

					<div id="shipping-info">
						<hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="State..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="Zip code..">
						</div>
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
				</form>

			</div>
            <br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
				 <div id="paypal-button-container"></div>
				<!---<button id="make-payment">Make Payment</button>-->

			</div>

		</div>

		<div class="col-lg-6">
			<div class="box-element">
                <div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
			{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>${{item.product.price}}</p></div>
					<div style="flex:1"><p>x2{{item.quantity}}</p></div>
				</div>
			{% endfor %}
				<h5>Items:   {{order.get_cart_items}}</h5>
				<h5>Total:   ${{order.get_cart_total}}</h5>

			</div>
		</div>
	</div>

	<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>

	    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

        	style:{
        		color:'blue',
        		shape:'rect',
        	},

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '0.01'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');
    </script>

	<script type="text/javascript">
		var shipping ='{{order.shipping}}'
		var total = '{{order.get_cart_total}}'

		if(shipping == 'False'){
			document.getElementById('shipping-info').innerHTML =''
		}
        if(user != 'AnonymousUser'){
        	document.getElementById('user-info').innerHTML = ''
        }
        if (shipping == 'False' && user != 'AnonymousUser'){
        	document.getElementsById('form-wrapper').classList.add('hidden')
        	document.getElementsById('payment-info').classList.remove('hidden')
        }
		var form = document.getElementById('form')

		form.addEventListener('submit', function(e){
		e.preventDefault()
		console.log('Form submitted...')
		document.getElementById('form-button').classList.add('hidden')
		document.getElementById('payment-info').classList.remove('hidden')
		})


     function submitFormData(){
     	console.log('Payment Button Clicked')

     	var userFormData = {
     		'name' : null,
     		'email' : null,
     		'total' : total,
     	}
     	var shippingInfo = {
     		'address' : null,
     		'city' : null,
     		'state' : total,
     		'zipcode' : null,
     	}
     	if(shipping != 'False'){
     		shippingInfo.address = form.address.value
     		shippingInfo.city = form.city.value
     		shippingInfo.state = form.state.value
     		shippingInfo.zipcode = form.zipcode.value
     	}
     	if(user == 'AnonymousUser'){
     		userFormData.name = form.name.value
     		userFormData.email = form.email.value
     	}

     	var url ='process_order'
     	fetch(url,{
     		method:'POST',
     		headers:{
     			'Content-Type': 'application/json',
     			'X-CSRFToken': csrftoken,
     		},
     		body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
     	})
     	.then((response) => response.json())
     	.then((data)=>{
     		console.log('Success:', data);
     		alert('Transaction Completed');

     	cart = {}
     	document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"

     		window.location.href ="{% url 'store' %}"
     	})
     }
	</script>
{% endblock content %}

</body>
</html>